body{
   margin: 0;
}

.header{
    background-color: #556f44;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 16px;    
}
.header .left{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
.header .right{
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo-text{
    font-size: 32px;
    font-weight: 900;
    display: flex;
    align-items: center;
}
.top-links{
    display: flex;
    font-size: 18px;
    gap: 30px;
    list-style: none;
    align-items: center;
}
ul{
    padding: 0;
    margin: 0;
}
a{
    color: whitesmoke;
    text-decoration: none;
    
}
.hero{
    background-color: #556f44;
    display: flex;
    color: white;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
}
.hero-head{
    background-color: #556f44;
    padding: 0;
    margin: 0;
    padding-left: 50px;
}
.hero-para{
    background-color: #556f44;
    padding: 0;
    margin: 0;
    padding-left: 50px;
}
.hero .right{
    background-color: #556f44;
    padding: 50px;
}
img {max-width: 100%;}



.info-headerblurb{
    display: flex;
    flex-direction: column;
    background-color: wheat;
    color: #432616;
    margin: -7px;
    align-items: center;
    padding: 8px;
    flex-wrap: wrap;
}
.info-header{
    background-color: wheat;
    color: #432616;
    padding: 0;
    margin: 0;
}
.info-para{
    background-color: wheat;
    color: #432616;
    align-content: center;
    text-align: center;
}
.info-pics-container{
    background-color: wheat;
    padding: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    
}
.info-pics-container .info{
    
    background-color: wheat;
    color: #432616;
}
.info-text{
    background-color: wheat;
    color: #432616;
}
.info-img{
    height: 200px;
    width: auto;
    border-radius: 10%;
    border: 4px wheat;
    padding: 8px
}
