body{
   margin: 0px;
   overflow-x: hidden;
}

.header{
    background-color: #556f44;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 16px;    
}
.header .left{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
.header .right{
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo-text{
    font-size: 32px;
    font-weight: 900;
    display: flex;
    align-items: center;
}
.top-links{
    display: flex;
    font-size: 18px;
    gap: 30px;
    list-style: none;
    align-items: center;
}
ul{
    padding: 0;
    margin: 0;
}
a{
    color: whitesmoke;
    text-decoration: none;
    
}
.hero{
    background-color: #556f44;
    display: flex;
    color: white;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
}
.hero-head{
    background-color: #556f44;
    padding: 0;
    margin: 0;
    padding-left: 50px;
    padding-bottom: 10px;
}
.hero-para{
    background-color: #556f44;
    padding: 0;
    margin: 0;
    padding-left: 50px;
}
.hero .right{
    background-color: #556f44;
    padding: 50px;
}
img {max-width: 100%;}



.info-headerblurb{
    display: flex;
    flex-direction: column;
    background-color: wheat;
    color: #432616;
    margin: -7px;
    align-items: center;
    padding: 8px;
    flex-wrap: wrap;
}
.info-header{
    background-color: wheat;
    color: #432616;
    padding: 0;
    margin: 0;
}
.info-para{
    background-color: wheat;
    color: #432616;
    align-content: center;
    text-align: center;
}
.info-pics-container{
    background-color: wheat;
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    
}
.info-pics-container .info{
    
    background-color: wheat;
    color: #432616;
}
.info-text{
    background-color: wheat;
    color: #432616;
}
.info-img{
    height: 200px;
    width: auto;
    border-radius: 10%;
    border: 4px wheat;
    padding: 8px;
}


/*For quote Section*/
.quote-container{
    display: flex;
    padding: 40px;
    background-color: darkkhaki;
    align-items: center;
    flex-direction: column;
    border-right: 40px solid transparent;
    
    
}
.inspr-quote{
    font-size: 42px;
    font-style: italic;
    padding: 42px;
}
.quotee{
    font-size: 20px;
    font-weight: 900;
    align-self: end;
    
}

/*News letter sign up*/
.msg-contain{
    display: flex;
    justify-content: center;
    background-color: wheat;
    padding: 20px;
    align-items: center;
}

.msg-box{
    display: flex;
    background-color: #432616;
    color: wheat;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    column-gap: 70px;

    
}
.msg-head{
    margin: 5px;
    padding: 0px;
}
.msg-right{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.msg-left{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    
}
.signup{
    background-color: #432616;
    border:  2px solid wheat;
    border-radius: 5px;
    color: wheat;
    word-wrap: none;
    padding: 6px 18px;
    width: fit-content;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: #556f44;
    color: wheat;
    padding: 20px;
}