*{
    background-color: #556f44;
}

.header{
    background-color: #556f44;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 16px;    
}
.header .left{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
.header .right{
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo-text{
    font-size: 32px;
    font-weight: 900;
    display: flex;
    align-items: center;
}
.top-links{
    display: flex;
    font-size: 18px;
    gap: 30px;
    list-style: none;
    align-items: center;
}
ul{
    padding: 0;
    margin: 0;
}
a{
    color: whitesmoke;
    text-decoration: none;
    
}
.hero{
    display: flex;
    color: white;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
}
.hero-head{
    padding: 0;
    margin: 0;
    padding-left: 50px;
}
.hero-para{
    padding: 0;
    margin: 0;
    padding-left: 50px;
}
.hero .right{
    padding: 50px;
}
img {max-width: 100%;}